In [35]:
import pandas as pd
import numpy as np
df = pd.read_csv('house_price.csv')

In [36]:
df.head()

   Price
0    110
1    105
2    115
3    120
4    110

# Normalization / MinMaxScalar

In [37]:
min_price = df.Price.min()

In [38]:
min_price

100

In [39]:
max_price = df.Price.max()

In [40]:
max_price

150

In [41]:
df['Norm_manual'] = (df.Price - min_price) / (max_price - min_price)

In [42]:
df

   Price  Norm_manual
0    110          0.2
1    105          0.1
2    115          0.3
3    120          0.4
4    110          0.2
5    130          0.6
6    150          1.0
7    100          0.0
8    105          0.1

In [43]:
from sklearn.preprocessing import MinMaxScaler

In [44]:
mms = MinMaxScaler()

In [45]:
df['Norm_sklearn'] = mms.fit_transform(df[['Price']])

In [46]:
df

   Price  Norm_manual  Norm_sklearn
0    110          0.2           0.2
1    105          0.1           0.1
2    115          0.3           0.3
3    120          0.4           0.4
4    110          0.2           0.2
5    130          0.6           0.6
6    150          1.0           1.0
7    100          0.0           0.0
8    105          0.1           0.1

# Standardization

In [47]:
mean_price = df.Price.mean()

In [48]:
mean_price

116.11111111111111

In [49]:
std_price = df.Price.std(ddof = 0)

In [50]:
std_price

14.677605348469895

In [51]:
df['Stand_manual'] = (df.Price - mean_price) / std_price

In [52]:
df

   Price  Norm_manual  Norm_sklearn  Stand_manual
0    110          0.2           0.2     -0.416356
1    105          0.1           0.1     -0.757011
2    115          0.3           0.3     -0.075701
3    120          0.4           0.4      0.264954
4    110          0.2           0.2     -0.416356
5    130          0.6           0.6      0.946264
6    150          1.0           1.0      2.308884
7    100          0.0           0.0     -1.097666
8    105          0.1           0.1     -0.757011

In [53]:
from sklearn.preprocessing import StandardScaler

In [54]:
stds = StandardScaler()

In [55]:
df['Stand_sklearn'] = stds.fit_transform(df[['Price']])

In [56]:
df

   Price  Norm_manual  Norm_sklearn  Stand_manual  Stand_sklearn
0    110          0.2           0.2     -0.416356      -0.416356
1    105          0.1           0.1     -0.757011      -0.757011
2    115          0.3           0.3     -0.075701      -0.075701
3    120          0.4           0.4      0.264954       0.264954
4    110          0.2           0.2     -0.416356      -0.416356
5    130          0.6           0.6      0.946264       0.946264
6    150          1.0           1.0      2.308884       2.308884
7    100          0.0           0.0     -1.097666      -1.097666
8    105          0.1           0.1     -0.757011      -0.757011

# Log Transformation

In [57]:
from sklearn.preprocessing import FunctionTransformer

In [58]:
fc = FunctionTransformer(np.log1p)

In [63]:
df['fc_manual'] = np.log1p(df[['Price']])

In [64]:
df

,Price,Norm_manual,Norm_sklearn,Stand_manual,Stand_sklearn,fc_manual,fc_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439

In [61]:
df['fc_sklearn'] = fc.fit_transform(df[['Price']])

In [62]:
df

,Price,Norm_manual,Norm_sklearn,Stand_manual,Stand_sklearn,fc_manual,fc_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439

# Robust Scaler

In [69]:
q75, q25 = np.percentile(df.Price, [75 ,25])
iqr = q75 - q25

In [70]:
price_med = np.median(df.Price)

In [71]:
df['Robust_manual'] = (df.Price - price_med) / iqr

In [72]:
df

,Price,Norm_manual,Norm_sklearn,Stand_manual,Stand_sklearn,fc_manual,fc_sklearn,Robust_sklearn,Robust_manual
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.333333
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.666667
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,1.333333
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,2.666667
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,-0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333

In [65]:
from sklearn.preprocessing import RobustScaler

In [77]:
rb = RobustScaler(quantile_range=(25.0, 75.0),with_centering=True)

In [78]:
df['Robust_sklearn'] = rb.fit_transform(df[['Price']])

In [79]:
df

,Price,Norm_manual,Norm_sklearn,Stand_manual,Stand_sklearn,fc_manual,fc_sklearn,Robust_manual,Robust_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.333333
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.666667
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,1.333333
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,2.666667
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,-0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333

# Max Absolute Scaler

In [84]:
df['Max_Absolute_manual'] = df.Price / df.Price.abs().max()

In [85]:
df

,Price,Norm_manual,Norm_sklearn,Stand_manual,Stand_sklearn,fc_manual,fc_sklearn,Robust_manual,Robust_sklearn,Max_Absolute_manual
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000,0.733333
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333,0.700000
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.333333,0.766667
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.666667,0.800000
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000,0.733333
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,1.333333,0.866667
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,2.666667,1.000000
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,-0.666667,0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333,0.700000

In [82]:
from sklearn.preprocessing import MaxAbsScaler

In [83]:
mas = MaxAbsScaler()

In [87]:
df['Max_Absolute_sklearn'] = mas.fit_transform(df[['Price']])

In [88]:
df

,Price,Norm_manual,Norm_sklearn,Stand_manual,Stand_sklearn,fc_manual,fc_sklearn,Robust_manual,Robust_sklearn,Max_Absolute_manual,Max_Absolute_sklearn
0,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000,0.733333,0.733333
1,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333,0.700000,0.700000
2,115,0.3,0.3,-0.075701,-0.075701,4.753590,4.753590,0.333333,0.333333,0.766667,0.766667
3,120,0.4,0.4,0.264954,0.264954,4.795791,4.795791,0.666667,0.666667,0.800000,0.800000
4,110,0.2,0.2,-0.416356,-0.416356,4.709530,4.709530,0.000000,0.000000,0.733333,0.733333
5,130,0.6,0.6,0.946264,0.946264,4.875197,4.875197,1.333333,1.333333,0.866667,0.866667
6,150,1.0,1.0,2.308884,2.308884,5.017280,5.017280,2.666667,2.666667,1.000000,1.000000
7,100,0.0,0.0,-1.097666,-1.097666,4.615121,4.615121,-0.666667,-0.666667,0.666667,0.666667
8,105,0.1,0.1,-0.757011,-0.757011,4.663439,4.663439,-0.333333,-0.333333,0.700000,0.700000